@if (@TempData["Message"] != null)
{
    <div class="mensagem" style="padding: 10px 20px; color: red; z-index: 999999; font-size: 16px; font-weight: 600;">        
        @TempData["Message"]
    </div>
}