@model IEnumerable<Core.Models.Video>
@{
    ViewData["Title"] = "VideoSaved";
}

<div class="text-center">
    <h3 class="">Videos Salvos</h3>
    <a asp-action="VideoDelAll" class="btn btn-sm btn-info">Delete All</a>
</div>
<p></p>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <div class="card w-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="@item.Url" class="img-thumbnail">
                        </div>
                        <div class="col-sm-8">
                            <h6 class="card-title">@item.Title</h6>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text">
                                Playlists:
                                @foreach (var playlist in item.Playlists)
                                {
                                    <span class="text-info">@playlist.Title</span>
                                }
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>
        }
    </ul>
</div>